figure.welcome img{
    width: 350px;
    height: 300px;
    margin-left: 200px;
}

.welcome figcaption h2
{
    font-size: 20pt;
}

.welcome hgroup hr
{
    width: 145px;
}

.welcome hgroup{
    margin-bottom: 30px;
}

.welcome figcaption div p
{
    line-height: 25px;
    margin-bottom: 40px;
    text-align: justify;
}

.welcome ul
{
    width: fit-content;
    padding-left: 50px;
    list-style: none;
}

.welcome ul li
{
    margin: 8px 4px;
    border-left: 30px solid rgb(69, 128, 255);
    border-radius: 1px;
    padding: 0px 20px;
}